# Private Configuration Files
reactions.json
auth.json
archconfig.json

.vscode

savedata
devdata
dist

# Node Nonsense
node_modules
*.lnk
package-lock.json

#
client_link.txt

!node_modules/archdice

#VSCode

*.code-workspace
plugins/chess/images/outfile.png

*.code-workspace


app.yaml
.gcloudignore
.env
archlog.txt
*.log

keystore.json